packaging_format = 2

id = "lychee"
name = "Lychee"
description.en = "Photo-management-system to manage and share photos"
description.fr = "Système de gestion de photos pour gérer et partager des photos"


version = "6.9.2~ynh1"


maintainers = ["DeMiro5001"]

[upstream]
license = "MIT"
website = "https://lycheeorg.dev/"
demo = "https://lychee-demo.fly.dev/"
admindoc = "https://lycheeorg.dev/docs/"
code = "https://github.com/LycheeOrg/Lychee"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["arm64", "amd64"]
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/lychee"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Password must be longer than 8 characters."
    help.fr = "Le mot de passe doit comporter plus de 8 caractères."
    type = "password"

    [install.matomo]
    ask.en = "Matomo URL."
    ask.fr = "URL de Matomo."
    type = "url"
    optional = true
    help.en = "Provide your matomo server address if you have one, otherwise leave it blank."
    help.fr = "Indiquez l'adresse de votre serveur Matomo si vous en avez un, sinon laissez-la vide."
    
[resources]

    [resources.sources]

        [resources.sources.main]

        url = "https://github.com/LycheeOrg/Lychee/releases/download/v6.9.2/Lychee.zip"
        sha256 = "f73beafd8fcea36780c1b46ace1617cbbb42d09bc6f42d23d0566dbb511fdc94"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^Lychee\\.zip$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["uploads/big", "uploads/import", "uploads/medium", "uploads/raw", "uploads/small", "uploads/thumb"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.apt]
    packages = "mariadb-server, redis-server, ffmpeg, php8.3-xml, php8.3-imagick, php8.3-bcmath, php8.3-exif, php8.3-mbstring, php8.3-gd, php8.3-mysqli, php8.3-zip, php8.3-intl, php8.3-redis"

    [resources.database]
    type = "mysql"

    [resources.composer]
    version = "2.7.7"
