packaging_format = 2

id = "lychee"
name = "Lychee"
description.en = "Photo-management-system to manage and share photos"
description.fr = "Système de gestion de photos pour gérer et partager des photos"

version = "5.0.2~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://lycheeorg.github.io/"
demo = "https://lycheeorg.github.io/demo/"
admindoc = "https://lycheeorg.github.io/docs/"
code = "https://github.com/LycheeOrg/Lychee"

[integration]
yunohost = ">= 11.2"
architectures = ["arm64", "amd64"]
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/lychee"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/LycheeOrg/Lychee/archive/refs/tags/v5.0.2.tar.gz"
        sha256 = "90c08bbc826eb97f1b6b44ece3ee8e92318752e28e551af9bbb40463193dcd4a"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["uploads/big", "uploads/import", "uploads/medium", "uploads/raw", "uploads/small", "uploads/thumb"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.apt]
    packages = "mariadb-server, ffmpeg, php8.2-xml, php8.2-imagick, php8.2-bcmath, php8.2-exif, php8.2-mbstring, php8.2-gd, php8.2-mysqli, php8.2-zip, php8.2-intl"

    [resources.database]
    type = "mysql"
