packaging_format = 2

id = "lychee"
name = "Lychee"
description.en = "Photo-management-system to manage and share photos"
description.fr = "Système de gestion de photos pour gérer et partager des photos"

version = "5.5.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://lycheeorg.github.io/"
demo = "https://lycheeorg.github.io/demo/"
admindoc = "https://lycheeorg.github.io/docs/"
code = "https://github.com/LycheeOrg/Lychee"

[integration]
yunohost = ">= 11.2"
architectures = ["arm64", "amd64"]
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/lychee"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/LycheeOrg/Lychee/archive/refs/tags/v5.5.0.tar.gz"
        sha256 = "ce49a1c6f26b0007ad2c6534cefd25122a860e8ad7f8ecb8510b1c6a91bad0f1"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["uploads/big", "uploads/import", "uploads/medium", "uploads/raw", "uploads/small", "uploads/thumb"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.apt]
    packages = "mariadb-server, ffmpeg, php8.3-xml, php8.3-imagick, php8.3-bcmath, php8.3-exif, php8.3-mbstring, php8.3-gd, php8.3-mysqli, php8.3-zip, php8.3-intl"

    [resources.database]
    type = "mysql"
