packaging_format = 2

id = "lychee"
name = "Lychee"
description.en = "Photo-management-system to manage and share photos"
description.fr = "Système de gestion de photos pour gérer et partager des photos"


version = "7.3.1~ynh1"


maintainers = ["DeMiro5001"]

[upstream]
license = "MIT"
website = "https://lycheeorg.dev/"
demo = "https://lychee-demo.fly.dev/"
admindoc = "https://lycheeorg.dev/docs/"
code = "https://github.com/LycheeOrg/Lychee"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["arm64", "amd64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/lychee"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Password must be longer than 8 characters."
    help.fr = "Le mot de passe doit comporter plus de 8 caractères."
    type = "password"

    [install.matomo]
    ask.en = "Matomo URL."
    ask.fr = "URL de Matomo."
    type = "url"
    optional = true
    help.en = "Provide your matomo server address if you have one, otherwise leave it blank."
    help.fr = "Indiquez l'adresse de votre serveur Matomo si vous en avez un, sinon laissez-la vide."
    
[resources]

    [resources.sources]

        [resources.sources.main]

        url = "https://github.com/LycheeOrg/Lychee/releases/download/v7.3.1/Lychee.zip"
        sha256 = "a2cf18adb045723f032e704c28056ef781387cfd27b1b8996eb0e564d0527432"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^Lychee\\.zip$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["uploads/big", "uploads/import", "uploads/medium", "uploads/raw", "uploads/small", "uploads/thumb"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.apt]
    packages = "mariadb-server, redis-server, ffmpeg, php8.4-xml, php8.4-imagick, php8.4-bcmath, php8.4-exif, php8.4-mbstring, php8.4-gd, php8.4-mysqli, php8.4-zip, php8.4-intl, php8.4-redis"
    
    [resources.database]
    type = "mysql"

    [resources.composer]
    version = "2.9.2"
