test_format = 1.0

[default]

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------
    
    test_upgrade_from.5927186c7b286ac143cbcc9f38eae39d1e14461f.name = "Upgrade from 6.10.3"

[default.curl_tests]

    login.path = "/login"
